.boton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    
    position: absolute;
    width:150px;
    height:40px;
    left: 70px;
    top: 400px;
    
    /* colordegrade */
    
    background: linear-gradient(180deg, #F5D426 0%, rgba(38, 245, 208, 0.53) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.logo {
    width: 100px;
    height: 100px;
}

.cabecera {
    background-color: #000000;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    width: 100%;
    /*padding-top:0px;*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 0%;
}

.contenedor {

    max-width: 80%;
    margin: 0 auto;


    display: flex;
    justify-content: space-between;
    align-items: center; 

}



.navegacion {
    min-width: 50%;
}

.navegacion_lista {
    /* Propiedades que vamos a ver luego en detalle en una clase */
    justify-content: space-between;
    align-items: center;
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 5px 0px 0px 5px;
    font-family: 'Nunito', sans-serif;
     
}

.navegacion_enlace {
    color: white;
    text-decoration: none;
    font-size: 20px;
    

}